<h1><%= @pirate.name %></h1>
<p><%= @pirate.name %></p>
<p><%= @pirate.name %></p>

<% @ships.each do |ship| %>
  <div class="ships">
    <h2><%= ship.name %></h2><br>
    <p><%= ship.type %></p><br>
    <p><%= ship.booty %></p><br>
  </div><br>
<% end %>